<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <img class="img-rounded" alt="Headshot" title="Headshot" src="/images/headshot.jpg">
  </div>
  <div class="footer-col footer-col-3">
    Hi, my name is Patrick Carlson and I'm a PhD graduate in <a target="_blank" rel="noopener" href="http://hci.iastate.edu">Human-Computer Interaction</a> (HCI) from
		<a target="_blank" rel="noopener" href="http://www.iastate.edu">Iowa State University</a>. My major adviser was
		Dr. Judy M. Vance (retired). My undergraduate education was at
		<a target="_blank" rel="noopener" href="http://www.simpson.edu">Simpson College</a> where I received a Bachelor of Arts, cum laude, with a double
    major in Computer Science and Psychology.
		I work at <a target="_blank" rel="noopener" href="http://www.sandia.gov">Sandia National Labs</a> as a Data Scientist.
  </div>
</div>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <p class="sub-header">Email: <a class="u-email" href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a></p>

    <p class="sub-header">Resume:</p>
    <a href="/files/resume_Carlson.pdf">
      <button class="button-rounded">PDF</button>
    </a>
    <a target="_blank" rel="noopener" href="/resume/">
      <button class="button-rounded">HTML</button>
    </a>
    <br><br>
    <p class="sub-header">Curriculum Vitae / CV:</p>
    <a href="/files/CV_Carlson.pdf">
      <button class="button-rounded">PDF</button>
    </a>
    <a target="_blank" rel="noopener" href="/cv/">
      <button class="button-rounded">HTML</button>
    </a>
  </div>
  <div class="footer-col footer-col-3">
    <p class="sub-header">Online Profiles</p>
    {%- include social.html -%}
  </div>
</div>

<br>

<div>
  <p>If you would like a list of references, please email me.</p>
</div>
