{% assign papers = site.data.papers | sort:"year" | reverse %}
{%- for paper in papers -%}

  {% comment %}
    The include.resume flag and the below logic limits the posters displayed.
  {% endcomment %}
  {% if include.resume == null or (include.resume == "true" and paper.resume == "true") %}
    {%- for name in paper.authors -%}
        {{ name.family }}, {{ name.given }}
        {%- if forloop.last == false -%}
            &nbsp;&&nbsp;
        {%- endif -%}
    {%- endfor -%}

    &nbsp;({{ paper.year }}).
    &nbsp;{{ paper.title }}.

    {%- if paper.url -%}
        &nbsp;In [{{ paper.container-title }}]({{ paper.url }}),
    {%- else -%}
        &nbsp;In {{ paper.container-title }},
    {%- endif -%}

    {%- if paper.publisher-place -%}
    &nbsp;pages {{ paper.page }},
    {{ paper.publisher-place }}.
    {%- else -%}
    &nbsp;pages {{ paper.page }}.
    {%- endif -%}

    {% if include.cv == "true" %} <b>({{ paper.type }})</b>{% endif %}
  <br>
  {% endif %}
{%- endfor -%}
