{% assign papers = site.data.papers | sort:"year" | reverse %}
{%- for paper in papers -%}
  <div class="pub-poster">
  {% comment %}
    The include.resume flag and the below logic limits the posters displayed.
  {% endcomment %}
  {% if include.resume == null or (include.resume == "true" and paper.resume == "true") %}
    {%- for name in paper.authors -%}
        {{ name.family }}, {{ name.given }}
        {%- if forloop.last == false -%}
            &nbsp;&&nbsp;
        {%- endif -%}
    {%- endfor -%}

    &nbsp;({{ paper.year }}).
    &nbsp;{{ paper.title }}.

    {%- if paper.url -%}
        &nbsp;In <a target="_blank" rel="noopener" href="{{ paper.url }}">{{ paper.container-title }}</a>,
    {%- else -%}
        &nbsp;In {{ paper.container-title }},
    {%- endif -%}

    {%- if paper.publisher-place -%}
    &nbsp;pages {{ paper.page }},
    {{ paper.publisher-place }}.
    {%- else -%}
    &nbsp;pages {{ paper.page }}.
    {%- endif -%}

    {% if include.cv == "true" %} <b>({{ paper.type }})</b>{% endif %}
  </div>
  <div><br /></div>
  {% endif %}
{%- endfor -%}
