{% assign posters = site.data.posters | sort:"year" | reverse %}
{%- for poster in posters -%}
  <div class="pub-poster">
  {% comment %}
    The include.resume flag and the below logic limits the posters displayed.
  {% endcomment %}
  {% if include.resume == null or (include.resume == "true" and poster.resume == "true") %}

    {%- for name in poster.authors -%}
        {{ name.family }}, {{ name.given }}
        {%- if forloop.last == false -%}
            &nbsp;&&nbsp;
        {%- endif -%}
    {%- endfor -%}

    &nbsp;({{ poster.year }}, {{ poster.month }}).

    {%- if poster.url -%}
        &nbsp;<a target="_blank" rel="noopener" href="{{ poster.url | relative_url }}">{{ poster.title }}</a>.
    {%- else -%}
        &nbsp;{{ poster.title }}.
    {%- endif -%}

    &nbsp;{{ poster.note }}.

    {%- if poster.award -%}
        &nbsp;<b>{{ poster.award }}</b>.
    {%- endif -%}
  </div>
  <div><br /></div>
  {% endif %}
{%- endfor -%}
