{% assign posters = site.data.posters | sort:"year" | reverse %}
{%- for poster in posters -%}

    {%- for name in poster.authors -%}
        {{ name.family }}, {{ name.given }}
        {%- if forloop.last == false -%}
            &nbsp;&&nbsp;
        {%- endif -%}
    {%- endfor -%}

    &nbsp;({{ poster.year }}, {{ poster.month }}).

    {%- if poster.url -%}
        [&nbsp;{{ poster.title }}]({{ poster.url | relative_url }}).
    {%- else -%}
        &nbsp;{{ poster.title }}.
    {%- endif -%}

    &nbsp;{{ poster.note }}.

    {%- if poster.award -%}
        &nbsp;<b>{{ poster.award }}</b>.
    {%- endif -%}

<br><br>
{%- endfor -%}
