<h4>Kaggle</h4>

<p>
    <a target="_blank" rel="noopener" href="https://www.kaggle.com/">Kaggle</a> is a popular Data Science
    community and competition site where contestants use programming and analysis to work on
    interesting problems.
</p>

<p>
    I used Pandas and scikit-learn to analyze hundreds of thousands of HTML files as part of the 'Truly
    Native' Kaggle competition. The objective was to identify whether or not a webpage had native
    advertisements. Random Forest machine learning was used from the scikit-learn Python library.
    The code is available
    via <a target="_blank" rel="noopener" href="https://github.com/carlsonp/kaggle-TrulyNative">Github</a>.
</p>


<hr>
<br>