<h4>Arma</h4>

<p>
    The popular series of computer games, Arma, from Bohemia Interactive has an extensive modding
    community.  For fun, I've worked on a number of projects.
</p>

<ul>
    <li><a target="_blank" rel="noopener" href="https://github.com/firefly2442/Arma2NETMySQLPlugin">Arma2NetMySQL</a>
    is program for connecting to a MySQL or SQLite database from within the game.</li>
    <li><a target="_blank" rel="noopener" href="https://github.com/firefly2442/ArmaConnect">ArmaConnect</a>
    is a C# program for connecting to the game and using UDP heartbeats to look for a corresponding Android
    application running on your phone or tablet.  Once it finds a connection, it switches to TCP and shows
    your position on a map of the game world, weather, time, and other information in real-time.  This work involved
    a lot of network negotiation and learning as well as coding across languages (C# and Java).</li>
</ul>

<hr>
<br>