<h4>Kort</h4>

<p>
    <a target="_blank" rel="noopener" href="https://github.com/carlsonp/kort/">Kort</a> is
    a <a target="_blank" rel="noopener" href="https://nodejs.org/">NodeJS</a> application for performing
    User Experience (UX) related surveys and methods.  It currently supports:
</p>
<ul>
    <li>Card Sorting</li>
    <li>Tree Testing</li>
    <li>Product Reaction Cards</li>
    <li>System Usability Scale (SUS)</li>
    <li>Net Promoter Score (NPS)</li>
</ul>
<p>
    It uses <a target="_blank" rel="noopener" href="https://www.mongodb.com/">MongoDB</a> as the database
    backend.  It's also free and Open Sourced under the GPL license.  I work on this with my good friend
    from grad-school <a target="_blank" rel="noopener" href="http://www.lpberg.com/">Leif Berg</a>.
    We use Github Actions for
    automated building and testing of the codebase after committing to Github.
</p>


<hr>
<br>