<h4>Improving Open Source Software Development: Harnessing Social and Technical Datamining</h4>

<p>My <a target="_blank" href="http://lib.dr.iastate.edu/etd/14663/">PhD dissertation topic</a>
involved datamining <a target="_blank" href="https://www.mozilla.org/">Mozilla</a>
and <a target="_blank" href="http://www.kde.org/">KDE</a>, two large Open Source communities.  Through analysis
of Git version control history, email mailing lists, and source code files, this parsed information was stored
in the graph database <a target="_blank" href="http://www.neo4j.org/">Neo4j</a>.  Using Social Technical Congruence
(STC) as a core starting point, three algorithms were developed to help developers better understand
the social and technical structure of software development. The field of Social
Technical Congruence (Cataldo et al. 2006) attempts to understand and model the synergies between technical
development and communication.  It is able to identify gaps in the communication structure based on shared
technical dependencies of developers to help minimize future bugs and keep up with changes.  Three novel
algorithms were developed to help developers:</p>
  <ul>
    <li>Impactful Commits: This algorithm shows you code commits that have had a substantial impact to the technical
      dependency structure of the source code.</li>
    <li>Developer Knowledge: This algorithm allows you to select a source code file to determine who has knowledge
      or expertise in the file. This is helpful if you have a question about a particular file or section but are
      unsure who to contact for help.</li>
    <li>Communication Suggestions: This algorithm provides suggestions about who you (or other developers) should
      be increasing communication with on the mailing list based on work on shared source code.</li>
  </ul>
<p>The three algorithms were implemented in a program and website called <a target="_blank" href="http://www.github.com/carlsonp/jamii/">Jamii</a>.
The program provides all backend processing
of data from source code version control and email mailing lists as well as visualization.  The Jamii website was then tested against the same two communities.
Two surveys examining Mozilla and KDE were performed that gathered qualitative and quantitative data.  The first survey gathered demographic
and perceptual differences in socialization
between beginner and veteran members.  The second survey investigated the perceived usefulness of the website as well as the poential for
improving the socialization process.</p>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <a href="/images/SocialTechnicalCongruence.png" title="Social Technical Congruence">
		    <img src="/images/thumbnails/SocialTechnicalCongruence.png" alt="Social Technical Congruence" />
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a href="/images/Jamii_front_page.png" title="Jamii Front Page">
		    <img src="/images/thumbnails/Jamii_front_page.png" alt="Jamii Front Page" />
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a href="http://vimeo.com/123356265?autoplay=1" title="Jamii Website Video">
		    <img src="/images/thumbnails/vimeo_logo_dark.png" alt="Jamii Website Video" />
    </a>
  </div>
</div>

<hr>
