<h4>Virtual Shopping Study</h4>

<p>Over the summer of 2010, I coordinated and co-advised three undergraduate Research Experience for Undergraduates (REU) students in a project to
create a physical mockup of a shopping cart.  This hardware was then used in a virtual reality user study utilizing the
<a target="_blank" rel="noopener" href="http://www.vrac.iastate.edu/facilities/c6/">C6 at ISU</a>.  We have since updated the hardware
to use an Arduino and a linear encoder for user control.</p>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <a href="/images/C6_user.png" title="Virtual Shopping REU">
		    <img src="/images/thumbnails/C6_user.png" alt="Virtual Shopping REU" />
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a href="/images/shopping_1.jpg" title="New Virtual Shopping">
		    <img src="/images/thumbnails/shopping_1.jpg" alt="New Virtual Shopping" />
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a href="/images/shopping_2.jpg" title="New Virtual Shopping">
		    <img src="/images/thumbnails/shopping_2.jpg" alt="New Virtual Shopping" />
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=0oymW3HMI-8?autoplay=1" title="REU Shopping Video">
		    <img src="/images/thumbnails/YouTube-icon.png" alt="REU Shopping Video" /><br>REU Shopping Video
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=XK-PcmSJqvQ?autoplay=1" title="Updated Virtual Shopping Video">
		    <img src="/images/thumbnails/YouTube-icon.png" alt="Updated Virtual Shopping Video" /><br>Virtual Shopping Video
    </a>
  </div>
</div>

<hr>
