<h4>Using Bimanual Haptics in Virtual Assembly Tasks</h4>

<p>I've worked with Dr. Judy Vance and
other graduate students on research using various configurations of bimanual haptic devices to examine their
effectiveness in virtual assembly tasks. One of the haptic devices we use is the
<a target="_blank" rel="noopener" href="http://www.geomagic.com/en/products/phantom-omni/overview">Geomagic Touch (formerly
Sensable Phantom Omni)</a>. This research aims to improve the training of assembly tasks through the utilization
of haptic devices, virtual reality, and accurate physics calculations. We've also examined how much learning
transfer takes place in using this technology for virtual training.</p>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <a href="/images/GOALI_1.jpg" title="Bimanual Haptics">
		    <img src="/images/thumbnails/GOALI_1.jpg" alt="Bimanual Haptics" />
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a href="/images/bimanual_1.jpg" title="Bimanual Haptics">
		    <img src="/images/thumbnails/bimanual_1.jpg" alt="Bimanual Haptics" />
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a href="/images/bimanual_2.jpg" title="Bimanual Haptics">
		    <img src="/images/thumbnails/bimanual_2.jpg" alt="Bimanual Haptics" />
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=ONUS4MD4DpY?autoplay=1" title="Bimanual Haptics Video">
		    <img src="/images/thumbnails/YouTube-icon.png" alt="Bimanual Haptics Video" /><br>Bimanual Haptics Video
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=cw4rOKokGWE?autoplay=1" title="Bimanual Snap Assembly Video">
		    <img src="/images/thumbnails/YouTube-icon.png" alt="Bimanual Snap Assembly Video" /><br>Bimanual Snap Assembly Video
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=To2mGQlX9ZQ?autoplay=1" title="Bimanual Asymmetric Assembly Video">
		    <img src="/images/thumbnails/YouTube-icon.png" alt="Bimanual Asymmetric Assembly Video" /><br>Bimanual Asymmetric Assembly Video
    </a>
  </div>
  <div class="footer-col footer-col-1">
    <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=aAxBykcL32M?autoplay=1" title="Virtual Training: Learning Transfer of Assembly Tasks Video">
		    <img src="/images/thumbnails/YouTube-icon.png" alt="Virtual Training: Learning Transfer of Assembly Tasks Video" /><br>Virtual Training: Learning Transfer of Assembly Tasks Video
    </a>
  </div>
</div>

<hr>
