<h4>Undergraduate Psychology Capstone - Examining The Linux Desktop</h4>

<p>My undergraduate Psychology capstone involved two semesters of work. The first semester was spent
creating an experiment, gathering the required materials, and making sure the design was solid. The second
semester I implemented the experiment and analyzed the data. The experiment focused on
differences in usability and appeal between a 2D versus 3D Linux desktop. The hypothesis was that the 3D desktop would
be more appealing as well as more usable. The data collection involved participants taking surveys about their
prior technology experience and desktop usage and then performing a variety of tasks while being timed. Additional
surveys were used to examine their thoughts on the differences between the two desktops. No usability difference
was found between the 2D and 3D desktops, however, participants thought the 3D desktop was more visually appealing.
The interesting result was that participants preferred the 3D desktop over the 2D desktop but only if they experienced
the 2D desktop first. I was able to explain this result using cognitive load theory from my cognitive Psychology
class. I presented a poster of my results at the <a target="_blank" href="http://www.midwesternpsych.org/">Midwest Psychology Association</a>
conference in May of 2008.</p>
<p>Paper: <a href="/files/psych_paper.pdf">Usability and Appeal of a 2D versus 3D Linux Operating System (.pdf)</a> - 2007</p>

<div class="footer-col-wrapper">
  <div class="footer-col footer-col-1">
    <a href="/images/compiz-fusion_cube.jpg" title="Compiz Fusion Cube">
		    <img src="/images/thumbnails/compiz-fusion_cube.jpg" alt="Compiz Fusion Cube" />
    </a>
  </div>
</div>

<hr>
