
<div class="resume-name">
  {{ site.data.contact.name }}
</div>

<div class="center-text">
  {{ site.data.contact.address_city }}, {{ site.data.contact.address_state }} - {{ site.data.contact.country }}
  <br>
  {{ site.data.contact.phone }} - <a target="_blank" rel="noopener" href="mailto:{{ site.data.contact.email }}">{{ site.data.contact.email }}</a>
  <br>
  <a target="_blank" rel="noopener" href="{{ site.data.contact.website }}">{{ site.data.contact.website }}</a> - 
  <a target="_blank" rel="noopener" href="https://github.com/{{ site.data.social.github_username_work| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.data.social.github_username_work| escape }}</span></a> - 
  <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/{{ site.data.social.linkedin| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">LinkedIn</span></a>
</div>

<div class="heading-title">
  Education
</div>
<hr>

<div>
{% for school in site.data.education %}
  <div class="resume-place">{{ school.school }}</div><div class="resume-location">{{ school.city }}, {{ school.state }}</div><br>
  {{ school.type }}, Cumulative GPA: {{ school.gpa }}<div class="resume-timeperiod">{{ school.start_year }} - {{ school.end_year }}</div><br>
  {{ school.major_string }} {{ school.major }}<br>
{% endfor %}
</div>

<div class="heading-title">
  Experience
</div>
<hr>

<div>
{% for experience in site.data.experience %}
  {% if experience.resume == "true" %}
    <div class="resume-place">{{ experience.place }}</div><div class="resume-location">{{ experience.city }}, {{ experience.state }}</div><br>
    {% for e in experience.experience %}
      {% if e.resume == null or e.resume != "false" %}
        <div class="resume-item-title">{{ e.title }}</div><div class="resume-timeperiod">{{ e.timeperiod }}</div><br>
        <div class="resume-indent">{{ e.description }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</div>

<div class="heading-title">
  Teaching and Other
</div>

<div>
{% for t in site.data.teaching %}
  {{ t.title }} ({{ t.type }})<div class="resume-timeperiod">{{ t.date }}</div><br>
{% endfor %}
</div>

<div class="heading-title">
  Groups and Activities
</div>
<hr>

<div>
{% for group in site.data.groups %}
  {% if group.resume == "true" %}
    {{ group.title }}<div class="resume-timeperiod">{{ group.date }}</div><br>
  {% endif %}
{% endfor %}
</div>

<div class="heading-title">
  Honors
</div>
<hr>

<div>
{% for honor in site.data.honors %}
  {% if honor.id == "isures" or honor.id == "cssenior" or honor.id == "mcm" or honor.id == "psichi" %}
    {{ honor.title }}<div class="resume-timeperiod">{{ honor.date }}</div><br>
  {% endif %}
{% endfor %}
</div>

<div class="heading-title">
  Recent Poster Presentations
</div>
<hr>

{% include posters.html resume="true" %}

<div class="heading-title">
  Recent Publications
</div>
<hr>

{% include papers.html resume="true" %}
