<ul class="social-media-list">
  <li>
    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/{{ site.data.social.linkedin| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">LinkedIn</span></a>
  </li>

  <li>
    <a target="_blank" rel="noopener" href="http://orcid.org/{{ site.data.social.orcid| cgi_escape | escape }}"><img src="{{ '/assets/orcid-icon.svg' | relative_url }}" class="svg-icon" alt="orcid"> <span class="username">Orcid</span></a>
  </li>

  <li>
    <a target="_blank" rel="noopener" href="https://iastate.academia.edu/{{ site.data.social.academia| cgi_escape | escape }}"><img src="{{ '/assets/academia-icon.svg' | relative_url }}" class="svg-icon" alt="academia"> <span class="username">Academia</span></a>
  </li>

  <li>
    <a target="_blank" rel="noopener" href="https://www.researchgate.net/profile/{{ site.data.social.researchgate| cgi_escape | escape }}"><img src="{{ '/assets/researchgate-icon.svg' | relative_url }}" class="svg-icon" alt="researchgate"> <span class="username">ResearchGate</span></a>
  </li>

  <li>
    <a target="_blank" rel="noopener" href="https://github.com/{{ site.data.social.github_username_work| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">Github: {{ site.data.social.github_username_work| escape }} (Academic Work)</span></a>
  </li>

  <li>
    <a target="_blank" rel="noopener" href="https://github.com/{{ site.data.social.github_username_fun| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">Github: {{ site.data.social.github_username_fun| escape }} (Personal Projects)</span></a>
  </li>

  <li>
    <a target="_blank" rel="noopener" href="https://stackoverflow.com/users/{{ site.data.social.stackoverflow| escape }}"><img src="{{ '/assets/so-icon.svg' | relative_url }}" class="svg-icon" alt="stackoverflow"> <span class="username">Stackoverflow</span></a>
  </li>


  {%- if site.data.social.twitter_username -%}
    <li><a href="https://www.twitter.com/{{ site.data.social.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username">{{ site.data.social.twitter_username| escape }}</span></a></li>
  {%- endif -%}
</ul>
